/* https://coolors.co/36151e-593f62-7b6d8d-8499b1-a5c4d4 */

body {
  font-family: 'Asap', sans-serif;
  margin: 0;
  height: 100vh;
}

header {
  height: 40vh;
  width: 100%;
  background: url('/images/magnolia.jpeg') no-repeat center center;
  background-size: cover;
  margin: 0;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frogfriend {
  height: 200px;
  width: 225px;
  border-radius: 20%;
  margin-bottom: 10px;
}

section h3 {
  margin-top: 0;
}

.links {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  display: none;
}

.social-icons img {
  height: 40px;
  width: 40px;
}

.social-icons a {
  align-items: center;
  margin-left: 10px;
}
