body {
  font-family: 'Asap', sans-serif;
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

header {
  height: 40vh;
  width: 100%;
  background: url('/images/magnolia.jpeg') no-repeat center center;
  background-size: cover;
  margin: 0;
}


.generalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

section h3 {
  margin-top: 0;
}

.links {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  margin-top: 10px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  display: none;
}

.socialIcons img {
  height: 40px;
  width: 40px;
}

.socialIcons a {
  align-items: center;
  margin-left: 10px;
}

.contentImage {
  height: 5rem;
  width: auto;
}
